body {
    background: #F5EbE0;
    max-width: 2560%;
}

h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.title {
    display: flex;
    width: 100%;
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    align-items: center;
    justify-content: center
}

.title-tasks {
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.description-task {
    font-size: 1.6vw;
    font-family: 'Montserrat', sans-serif;
    width: 40vw;
    padding-left: 2vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 100px;
}

.button-task {
    width: 10%;
}

.description-button {
    margin-left: 3%;
    font-size: 1.4vw;
    color: white;
    background-color: #51ADBB;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.8vw;
    border: 0;
    border-radius: 100px;
}

.description-button:hover {
    background-color: white;
    color: black;
}

.list-task {
    margin-top: 4vw;
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
}

.list-need {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 0;
    border-radius: 2vw;
    background: #BEE1E6;
    margin-right: 2vw;

}

label {
    width: 14%;
}

.list-completed {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vw;
    background: #BEE1E6;
    border: 0;
    margin-right: 2vw;
}

.description {
    background-color: white;
}

.item {
    font-family: 'Montserrat', sans-serif;
    padding-left: 2vw;
    font-size: 1.4vw;
    width: 90%;
    height: 10%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 10px;
}

.delete {
    display: flex;
    font-size: 1.4vw;
    color: white;
    background: url(Images/cross.svg) no-repeat;
    background-size: 2.6vw;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    font-family: "PT Sans Narrow";
    display: flex;
    margin-left: auto;
    margin-right: 0px;
    height: 2.6vw;
    width: 2.6vw;
    border-radius: 50%;
    border: 0px solid black;
    text-align: center;
    align-items: center;
}

.active {
    color: grey;
    background-color: grey;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-checkbox {
    width: 2.4vw;
    height: 2.4vw;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.item-checkbox:checked {
    background: url(Images/check.svg) no-repeat;
    width: 2.6vw;
    background-size: 2.6vw;
    height: 2.6vw;
    border: 0;
}